{% extends "manager_base.html" %}
{% load static %}
{% block Title %}Список блюд{% endblock  %}
{% block header-title %}Список наших блюд{% endblock %}
{% block CSS %}

<link href="{% static "manager/plugins/datatables/responsive.bootstrap4.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "manager/plugins/datatables/dataTables.bootstrap4.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "manager/plugins/datatables/buttons.bootstrap4.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "manager/plugins/datatables/select.bootstrap4.css" %}" rel="stylesheet" type="text/css" />

<style>
    .thumbnail {
        width: 80px; /* Ширина миниатюры */
        height: auto; /* Сохраняет пропорции */
        border: 1px solid #ccc; /* Добавляем рамку */
        border-radius: 5px; /* Закругляем углы */
    }
</style>
{% endblock %}



{# Контент на странице #}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                {% if products %}
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="card-title">Список блюд</h4>
                        <a type="button" 
                           class="btn btn-primary btn-sm"
                           href="{% url "manager:add_product" %}">
                           Добавить новое блюдо
                        </a>
                    </div>
                {% endif %}
                {% if not products %}                
                <h3>Список блюд пуст</h3>
                {% else %}
                <br>
                <table id="views-products-datatable" class="table dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>ID блюда</th>
                            <th>Миниатюра</th>
                            <th>Название</th>
                            <th>Скидка</th>
                            <th>Цена</th>
                            <th>Категория</th>
                            <th>Действие</th>
                        </tr>
                    </thead>               
                    <tbody>
                        {% for product in products  %}
                        <tr>
                            <td>{{product.id}}</td>
                            <td><img src="{{product.image.url}}" alt="Миниатюра" class="thumbnail"></td>
                            <td>{{product.name}}</td>
                            <td>{{product.discount}}</td>
                            <td>{{product.price}}</td>
                            <td>{{product.category.title}}</td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        ....
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{% url "manager:edit_product" product.id %}">Редактировать</a>
                                        <a class="dropdown-item" 
                                           id="add_stop_list" 
                                           data-stop-list-id={{product.id}}
                                           data-stop-list-url = "{% url "manager:add_to_stop_list" %}"
                                           href="#">
                                           В стоп-лист
                                        </a>
                                        {% csrf_token %}
                                    </div>
                                  </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
</div>
<!-- end row-->
    
{% endblock %}

{% block jsScripts %}
    <!-- Custom Sweetalert2 js File -->
    <script src="{% static "sweetalert2/sweetalert2.min.js" %}"></script>
    <!-- Custom datatable js File -->
    <script src="{% static "dataTables/dataTables.bootstrap5.min.js" %}"></script>
    <script src="{% static "dataTables/jquery.dataTables.min.js" %}"></script>
    <!-- Скрипт построения таблицы -->
    <script src="{% static "dataTables/my_script.js" %}"></script>
{% endblock %}
