{% extends "manager_base.html" %}
{% load static %}
{% block header-title %}Информация по заказу № {{order.id}}{% endblock %}

{# Контент на странице #}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mt-4">
                        <div class="col-6">
                            <h6 class="font-weight-bold">Инфо:</h6>

                            <address class="line-h-24">
                                <b>{{order.user.first_name}} {{order.user.last_name}}</b><br>
                                {{order.user.email}}<br>
                                <abbr title="Phone">P:</abbr> {{order.phone_number}}
                            </address>

                        </div><!-- end col -->
                        <div class="col-6">
                            <div class="mt-3 float-right">
                                <p class="mb-2"><strong>Дата заказа: </strong> {{order.created_timestamp|date:"d.m.Y H:i"}}</p>
                                <p class="mb-2"><strong>Статус заказа: </strong> <span class="badge badge-soft-success">{{order.status}}</span></p>
                                <p class="m-b-10"><strong>Order ID: </strong> #{{order.id}}</p>
                            </div>
                        </div><!-- end col -->
                    </div>
                    <!-- end row -->

                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table mt-4">
                                    <thead>
                                    <tr><th>№ п/п</th>
                                        <th>Заказанное блюдо</th>
                                        <th>Количество</th>
                                        <th>Цана за ед.</th>
                                        <th class="text-right">Общая цена</th>
                                    </tr></thead>
                                    <tbody>
                                    {% for item in order_items %}   
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>
                                            <b>{{item.name}}</b>
                                            <br/>
                                            Категория: {{item.product.category.title}}
                                        </td>
                                        <td>{{ item.quantity }}</td>
                                        <td>{{item.product.sell_price|floatformat:2}} ₽</td>
                                        <td class="text-right">
                                            {{item.products_price|floatformat:2}} ₽
                                        </td>
                                    </tr>
                                    {% endfor %}                                   
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="clearfix pt-5">
                                <h6 class="text-uppercase">Общая сумма:</h6>
                            </div>

                        </div>
                        <div class="col-6">
                            <div class="float-right">
                                <p><b>Общее количество:</b> {{total_quantity}}</p>
                                <p><b>{{status_payment}}</b></p>
                                <h3>{{total_price|floatformat:2}} ₽</h3>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <div class="d-print-none my-4">                        
                        <div class="text-right">
                            <a href="javascript:window.print()" class="btn btn-primary waves-effect waves-light"><i class="fa fa-print m-r-5"></i> Print</a>
                            {% if order.status == "В обработке" %}
                            <button type="button" 
                                        class="btn btn-info waves-effect waves-light" 
                                        data-toggle="modal" 
                                        data-target="#confirm_order_date">
                                        Подтвердить заказ
                                </button>
                            {% else %}
                            <a type="button" 
                                        class="btn btn-info waves-effect waves-light" 
                                        href="{{ request.META.HTTP_REFERER|default:'#' }}">
                                        На предыдущую страницу
                            </a>
                            {% endif %}
                            
                            {% comment %} <a href="{% url "manager:confirm_order" order.id %}" class="btn btn-info waves-effect waves-light">Подтвердить заказ</a> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div> <!-- end card-->
        </div> <!-- end col -->
    </div>
    <!-- end row -->

    <!-- Модальное окно выбора даты выполнения заказа -->
    <div class="modal fade" id="confirm_order_date" tabindex="-1" role="dialog" aria-labelledby="confirm_order_dateTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirm_order_dateLongTitle">Дата и время заказа</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{% url 'manager:confirm_order' %}">
                        {% csrf_token %}
                        <input type="text" name="order_id" value="{{order.id}}" class="d-none">
                        <div class="mb-3 date-input">
                            <label class="form-label"><span class="text-danger">*</span> Время выполнения заказа:</label>
                            <input type="datetime-local" 
                                   class="form-control"
                                   id="dateOrder"
                                   name="dateOrder"
                                   required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                            <button type="submit" class="btn btn-primary">Применить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
      </div>
{% endblock %}

{% block jsScripts %}
    <!-- Custom Sweetalert2 js File -->
    <script src="{% static "sweetalert2/sweetalert2.min.js" %}"></script>
    <!-- Проверка формы на корректность даты -->
    <script src="{% static "manager/js/order-correct-date.js" %}"></script>
{% endblock %}