<div class="modal-content" id="cart-items-container">
    
    <!-- Заголовок модального окна корзины -->
    <div class="modal-header">
        <h5 class="modal-title" >
            <i class="fa-solid fa-basket-shopping"></i>&nbsp;&nbsp;Ваша корзина
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="position: absolute; right: 1rem; top: 1rem;"></button>
    </div>
   
    {# Если корзина пустая #}
    {% if not carts %}
        <div class="cart-item d-flex align-items-center" style="padding: 15px; margin: 15px;">
           
            <div class="flex-grow-1 text-center" style="font-weight: 700; font-size: larger;" > 
                Ваша корзина пуста.<br>Пожалуйста добавьте товары в корзину
            </div>
            
        </div>
    {% endif %}
    <!-- Тело модального окна корзины-->
    {% for cart in carts %}
        <div class="modal-body">
            <div id="cartItems">                
                <!-- Перечень товаров -->
                <div class="cart-item d-flex align-items-center">
                    <img src="{{ cart.product.image.url }}" alt="Товар" class="cart-item-img me-3">
                    <div class="flex-grow-1">
                        <h5 class="mb-1">{{cart.product.name}}</h5>
                        <p class="mb-1">
                            Цена за единицу: <span class="item-price" 
                                                data-price="{{ cart.product.sell_price }}">
                                                {{ cart.product.sell_price | floatformat:2 }}
                                            </span> ₽
                        </p>
                        <p class="mb-1">
                            Общая цена: <span class="item-total-price">{{ cart.products_price | floatformat:2 }}</span> ₽
                        </p>                                
                    <div class="small text-muted">Категория: {{cart.product.category.title}}</div>
                    </div>
                    <div class="d-flex align-items-center">
                        <button class="btn btn-outline-secondary btn-sm me-2 znak-products" onclick="updateQuantity(this, -1)">
                            <i class="fa-solid fa-minus"></i>
                        </button>
                        <input type="text" value="{{cart.quantity}}" min="1"
                            class="form-control form-control-sm text-center" 
                            style="width: 60px;" 
                            readonly>
                        <button class="btn btn-outline-secondary btn-sm ms-2 znak-products" onclick="updateQuantity(this, 1)">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                    {# Кнопка удаления из корзины #}
                    <a class="btn btn-danger btn-sm ms-3 cart-delete col_cart_del" 
                       data-cart-id="{{ cart.id }}"
                       href="{% url "cart:cart_remove" %}">
                        {% csrf_token %}
                        <i class="fa-solid fa-trash"></i>                         
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
    <!-- Нижняя часть модального окна -->
    <div class="modal-footer flex-column align-items-start">
        <!-- Общая информация всегда отображается -->
        <div class="w-100 mb-3">
            <p class="mb-1">Общее количество: <span id="totalQuantity">{{carts.total_quantity}}</span></p>
            <p class="cart-total">Общая цена: <span id="totalPrice">{{carts.total_price | floatformat:2}}</span> ₽</p>
        </div>
        
        {% if user.is_authenticated %}
        <!-- Радиокнопки для выбора способа оплаты -->
            {% if carts %}
                {# Доступны только если в корзине есть товары #}
                <div class="w-100 mb-3">
                    <p>Выберите способ оплаты:</p>
                    <form class="d-flex flex-column">
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="radio" name="paymentMethod" id="paymentCash" value="cash">
                            <label class="form-check-label" for="paymentCash">
                                💵 Наличными/Картой при получении
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="paymentMethod" id="paymentCard" value="card">
                            <label class="form-check-label" for="paymentCard">
                                💳 Оплатить картой
                            </label>
                        </div>
                    </form>
                </div>
            {% endif %}
        {% else %}
        <!-- Блок для авторизации или регистрации -->
        <div id="authNotice" class="w-100 text-center mb-3">
            <p>Оформление заказа доступно только <strong>авторизованным</strong> пользователям.</p>
            <a href="{% url "user:login" %}" class="btn btn-link">
                <i class="fa-regular fa-user"></i> Войти
            </a>
            <a href="{% url "user:register" %}" class="btn btn-link">
                <i class="fa-solid fa-registered"></i> Регистрация
            </a>
        </div>
        {% endif %}
        <hr class="hr" />
        <!-- Кнопки "Оформить заказ" и "Закрыть" -->
        <div class="d-flex justify-content-between w-100">
            {% if user.is_authenticated %}
                {% if carts %}
                    <hr>
                    <button type="button" class="btn btn-success" id="checkoutButton" onclick="placeOrder()">Оформить заказ</button>
                {% endif %}                        
            {% endif %}
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        </div>
    </div>
</div>