{% load static %}
{% load count_orders_tags %}

{% get_Count_Orders as count_order %}

{# Навигация на сайте #}
<div class="topnav">
    <div class="container-fluid">
        <nav class="navbar navbar-light navbar-expand-lg topnav-menu">
            
            <div class="collapse navbar-collapse" id="topnav-menu-content">
                <ul class="navbar-nav">
                    {# Главная страницы сайта со статистикой #}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "manager:index" %}">
                            <i class="mdi mdi-view-dashboard mr-2"></i>Статистика
                        </a>
                    </li>
                    {# Список заказов #}                
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-components" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="mdi mdi-table-border mr-2"></i>Заказы <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-components">
                            <a href="{% url "manager:processing_orders" %}" class="dropdown-item">
                                Новые заказы
                                <span class="badge badge-danger badge-pill ml-4" style="font-size:12px;">
                                    {{count_order}}
                                </span>
                            </a>
                            <a href="ui-cards.html" class="dropdown-item">Обработанные</a>
                            <a href="ui-carousel.html" class="dropdown-item">Завершенные</a>
                        </div>
                    </li>
                    {# Список наших блюд #}
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">
                            <i class="mdi mdi-pizza mr-2"></i>Наша продукция
                        </a>
                    </li>
                    {# Список наших пользователей #}
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">
                            <i class="mdi mdi-clipboard-account mr-2"></i>Наши пользователи
                        </a>
                    </li>
                    {# Список корзин пользователей #}
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">
                            <i class="mdi mdi-cart mr-2"></i>Корзины
                        </a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</div>