{% extends "user_base.html" %}
{% load static %}
{% block Ttle %} Восстановление пароля {% endblock Ttle %}

{% block password_reset %}
    <div class="bg-fon"></div>  
    <section class="vh-100">        
        <div class="container py-5 h-100">
            <img src="{% static "img/logo3.png" %}" class="logo_auth_mobile" alt="logo">
        <div class="row d-flex justify-content-center align-items-center h-100">            
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="{% static "img/auth.jpg" %}"
                            alt="login form" class="img-fluid bg-login image-login" style="border-radius: 1rem 0 0 1rem;" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center ">
                            <div class="card-body p-4 p-lg-5 text-black">                                         
                                <div class="d-flex align-items-center mb-3 pb-1">
                                    <span class="h2 fw-bold mb-0">Письмо для сброса пароля отправлено</span>
                                </div>
                
                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Проверьте вашу электронную почту для дальнейших инструкций.</h5>
                                    
                                    <p class="mb-5 pb-lg-2" style="color:rgb(2, 28, 31);">Вспомнили пароль? 
                                        <a href="{% url "user:login" %}" style="color: #393f81;">Авторизация</a>
                                    </p>
                                    <p>
                                        <a href=" {% url "main:index" %} " >
                                            <i class="fa-solid fa-backward"></i> &nbsp;&nbsp;
                                            Вернуться на главную
                                        </a>
                                    </p>                            
                                                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

{% endblock %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Письмо для сброса пароля отправлено</title>
</head>
<body>
    <h2>Письмо для сброса пароля отправлено</h2>
    <p>Проверьте вашу электронную почту для дальнейших инструкций.</p>
</body>
</html>