{# *** Регистрация пользователя на сайте *** #}
{% extends "users/user_base.html" %}
{% load static %}
{% block Ttle %} Регистрация пользователя {% endblock Ttle %}
{% block mbb-css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/mdb/mdb.min.css" %}">
{% endblock mbb-css %}
{% block mbd-js %}
    <script src="{% static "js/mdb/mdb.umd.min.js" %}"></script>
{% endblock mbd-js %}


{% block Register %}
<div class="bg-fon"></div>  
<section class="vh-100 gradient-custom">
    <img src="{% static "img/logo3.png" %}" class="logo_register_mobile" alt="logo">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
            <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                <div class="card-body p-4 p-md-5">
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Форма регистрации</h3>
                <form>
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="text" id="lastName" class="form-control form-control-lg" />
                        <label class="form-label" for="lastName">Login *</label>
                    </div>    
                    <div class="row">
                        <div class="col-md-6 mb-4">
        
                            <div data-mdb-input-init class="form-outline">
                            <input type="text" id="firstName" class="form-control form-control-lg" />
                            <label class="form-label" for="firstName">Имя</label>
                            </div>
        
                        </div>
                        <div class="col-md-6 mb-4">
        
                            <div data-mdb-input-init class="form-outline">
                            <input type="text" id="lastName" class="form-control form-control-lg" />
                            <label class="form-label" for="lastName">Фамилия</label>
                            </div>
        
                        </div>
                    </div>   
                    <div class="row">
                        <div class="col-md-6 mb-4 pb-2">
        
                            <div data-mdb-input-init class="form-outline">
                            <input type="email" id="emailAddress" class="form-control form-control-lg" />
                            <label class="form-label" for="emailAddress">Email *</label>
                            </div>
        
                        </div>
                        <div class="col-md-6 mb-4 pb-2">
        
                            <div data-mdb-input-init class="form-outline">
                            <input type="tel" id="phoneNumber" class="form-control form-control-lg" />
                            <label class="form-label" for="phoneNumber">Телефон *</label>
                            </div>
        
                        </div>
                    </div>
                    
                    <div class="mt-4 pt-2">
                        <input data-mdb-ripple-init class="btn btn-primary btn-lg" style="width: 100%;" type="submit" value="Зарегистрировать" />                        
                    </div>
                    <p>
                        <br>
                        <a href=" {% url "main:index" %} " >
                            <i class="fa-solid fa-backward"></i> &nbsp;&nbsp;
                            Вернуться на главную
                        </a>
                    </p>    
                </form>
                </div>
            </div>
            </div>
      </div>
    </div>
</section>

{% endblock Register %}