{# *** Регистрация пользователя на сайте *** #}
{% extends "user_base.html" %}
{% load static %}
{% block Ttle %} Регистрация пользователя {% endblock Ttle %}
{% block mbb-css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/mdb/mdb.min.css" %}">
{% endblock mbb-css %}
{% block mbd-js %}
    <script src="{% static "js/mdb/mdb.umd.min.js" %}"></script>
{% endblock mbd-js %}


{% block Register %}
<div class="bg-fon"></div>  
<section class="vh-100 gradient-custom">
    <img src="{% static "img/logo3.png" %}" class="logo_register_mobile" alt="logo">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
            <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                <div class="card-body p-4 p-md-5">
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Форма регистрации</h3>
               
                <form action={% url "user:register" %} method="post">
                    {% csrf_token %}
                    {#=== Ввод логина === #}
                    {% if form.username.errors %}
                        <div class="invalid-feedback1">
                            {{form.username.errors}}
                        </div>
                    {% endif %}                    
                    <div data-mdb-input-init class="form-outline mb-4">                        
                        <input type="text" 
                               id="id_username" 
                               class="form-control form-control-lg"
                               value="{% if form.username.value %} {{form.username.value}} {% endif %}"
                               name="username"
                               required/>                               
                        <label class="form-label" for="id_username">Login *</label>                        
                    </div>
                    
                    {#== Вводим имя и фамилию (Не обязательные поля) === #}
                    <div data-mdb-input-init class="form-outline mb-4">                        
                        <input type="text" 
                                id="id_first_name" 
                                class="form-control form-control-lg"
                                value="{% if form.first_name.value %} {{form.first_name.value}} {% endif %}" 
                                name="first_name"/>
                                <label class="form-label" for="id_first_name">Имя</label>                        
                    </div>
                    <div data-mdb-input-init class="form-outline mb-4">                        
                        <input type="text" 
                                id="id_last_name" 
                                class="form-control form-control-lg"
                                value="{% if form.last_name.value %} {{form.last_name.value}} {% endif %}" 
                                name="last_name"/>
                        <label class="form-label" for="id_last_name">Фамилия</label>                        
                    </div>    
                     {#=== Вводим Email и номер телефона === #} 
                    <div data-mdb-input-init class="form-outline mb-4">                        
                        <input type="email" 
                                id="id_email" 
                                class="form-control form-control-lg"
                                value="{% if form.email.value %} {{form.email.value}} {% endif %}" 
                                name="email"
                                required/>
                        <label class="form-label" for="id_email">Email *</label>                        
                    </div>
                    <div data-mdb-input-init class="form-outline mb-4">                        
                        <input type="tel" 
                                id="id_phone_number" 
                                class="form-control form-control-lg"
                                value="{% if form.phone_number.value %} {{form.phone_number.value}} {% endif %}" 
                                name="phone_number"
                                required/>
                        <label class="form-label" for="id_phone_number">Телефон *</label>                
                    </div>
                     {#=== Вводим пароль и подтверждаем пароль === #}
                    <div data-mdb-input-init class="form-outline mb-4">                        
                        <input type="password" 
                                id="id_password1" 
                                class="form-control form-control-lg" 
                                value="{% if form.password1.value %} {{form.password1.value}} {% endif %}"
                                name="password1"
                                required/>
                        <label class="form-label" for="id_password1">Пароль *</label>         
                    </div>
                    <div data-mdb-input-init class="form-outline mb-4">                        
                        <input type="password" 
                                id="id_password2" 
                                class="form-control form-control-lg"
                                value="{% if form.password2.value %} {{form.password2.value}} {% endif %}" 
                                name="password2"
                                required/>
                        <label class="form-label" for="id_password2">Подтверждение пароля *</label>            
                    </div>
                     {#=== Кнопка отправки формы === #}
                    <div class="mt-4 pt-2">
                        
                        <input data-mdb-ripple-init class="btn btn-secondary btn-lg btn-block waves-effect waves-light" type="submit" value="Зарегистрировать" />                        
                    </div>
                    <p>
                        <br>
                        <a href=" {% url "main:index" %} " >
                            <i class="fa-solid fa-backward"></i> &nbsp;&nbsp;
                            Вернуться на главную
                        </a>
                    </p>
                    <p>
                        <span class="text-secondary">Всполнили пароль?</span>                        
                        <a href=" {% url "user:login" %} " class="text-success" >
                            <i class="fa-solid fa-backward"></i> &nbsp;&nbsp;
                            Авторизация
                        </a>                        
                    </p>    
                </form>
                </div>
            </div>
            </div>
      </div>
    </div>
</section>

{% endblock Register %}