{% load static %}
<!DOCTYPE html>
<html lang="zxx" dir="ltr">

<!-- BEGIN head -->

<head>

    <!-- Meta tags -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="Pinocchio is a clean, modern, and responsive one-page HTML template designed for restaurants, cafes, and fast-food businesses.">
    <meta name="author" content="Alissio">

    <!-- Title -->
    <title>{% block Title %}{% endblock %}</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "img/favicon/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="256x256" href="{% static "img/favicon/android-chrome-192x192.png" %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static "img/favicon/android-chrome-512x512.png" %}">
    <link rel="icon" type="image/png" href="{% static "img/favicon/favicon.ico" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "img/favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "img/favicon/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "img/favicon/site.webmanifest" %}">
    <link rel="mask-icon" href="{% static "img/favicon/safari-pinned-tab.svg" %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#0b1f3c">
    <meta name="theme-color" content="#ffffff">

    <!-- Stylesheets -->

    <!-- All used plugins -->
    <link rel="stylesheet" type="text/css" href="{% static "css/plugins.min.css" %}">

    <!-- Custom main style -->
    <link rel="stylesheet" type="text/css" href="{% static "css/main.min.css" %}">

    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" href="{% static "css/responsive.min.css" %}">

    <!-- My CSS File   -->
    <link rel="stylesheet" type="text/css" href="{% static "css/my.min.css" %}">

		
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<!-- END head -->

<!-- BEGIN body -->

<body data-spy="scroll" data-target=".navbar" data-offset="50">

    <!-- BEGIN  Loading -->
    {% comment %} <div class="loading-overlay">
        <div class="spinner">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div> {% endcomment %}
    <!-- END Loading -->

    <!-- BEGIN body wrapper -->
    <div class="body-wrapper">

        <!-- Begin hero-->
        <section id="main">

            <!-- BEGIN carousel -->
            {% block Banners %}{% endblock %}
            <!-- END carousel -->

            <!-- BEGIN navigation -->
            <div class="navigation">
                <div class="navbar-container" data-spy="affix" data-offset-top="400">
                    <div class="container">
                        <div class="navbar_top">
                            <div class="top_addr">
                                <nav class="navbar">
                                    <div id="navbar_content">
                                        <!-- Brand and toggle get grouped for better mobile display -->
                                        <div class="navbar-header">                                            
                                            <a class="navbar-brand" href="#">
                                                <img src="{% static "img/logo3.png" %}" alt="logo">
                                            </a>                                            
                                        </div>
                                        <a href="#cd-nav" class="cd-nav-trigger right_menu_icon">
                                            <span><i class="icon-menu"></i></span>
                                        </a>

                                        <!-- Collect the nav links, forms, and other content for toggling -->
                                        {% include "main/nav/header_menu.html" %}
                                        <!-- /.navbar-collapse -->
                                    </div>
                                </nav>
                                <div class="pull-right search-block d-none d-md-none d-lg-block">
                                    <button type="button" class="btn btn-outline-warning btn-sm">
                                        <i class="fa-solid fa-cart-shopping"></i>
                                        {% comment %} <cart-text class="cart-number">1</cart-text> {% endcomment %}
                                    </button>
                                </div>
                            </div>
                            <div id="navbar_search">
                                <form method="post">
                                    <input type="text" name="q" autocomplete="off" class="form-control pull-left"
                                        value="" placeholder="Search anything">
                                    <button type="button" class="pull-right close" id="search_close">
                                        <i class="icon-close"></i>
                                    </button>
                                </form>
                            </div>
                            {% comment %} <span class="login-out">Вы вошли как: <b>TestOUT</b></span> {% endcomment %}
                        </div>
                        <!-- /.navbar_top -->
                    </div>
                </div>
                <!-- /.navbar-container -->
            </div>
            <!-- END navigation -->
        </section>
        <!-- End hero -->

        <!-- Special Menu Slider Start -->
        {% block  Special %} {% endblock %}
        <!-- Special Menu Slider End -->

        <!--    About    -->
        {% include "main/about.html" %}

        <!--    Menus   -->
        {% block Menus %}{% endblock %}

        <!--    Chef    -->
        {% block Chefs %} {% endblock %}


        <!-- Start .scroll-up -->
        <div class="scroll-up">
            <div class="scroll-up__icon">
                <i class="icon-arrow-up"></i>
            </div>
        </div><!-- End /.scroll-up -->

        <!--  Begin Footer  -->
        {% include "main/footer.html" %}
        <!-- End Footer -->

    </div>
    <!-- END body-wrapper -->


    <!-- START mobile right burger menu -->
    <nav class="cd-nav-container right_menu" id="cd-nav">
        <div class="header__open_menu">
            <a href="index.html" class="rmenu_logo" title="logo">
                <img src="{% static "img/logo3.png" %}" alt="logo">
            </a>
        </div>
        <div class="right_menu_search">
            <form method="post">
                <input type="text" name="q" autocomplete="off" class="form-control search_input" value=""
                    placeholder="Search anything">
                <button type="submit" class="search_icon">
                    <i class="icon-search"></i>
                </button>				
            </form>
        </div>
        {% comment %} === Mobile MENU === {% endcomment %}
        {% include "main/nav/mobile_menu.html" %}
        <div class="right_menu_addr top_addr">
            <span><i class="icon-map-pin"></i> Your country, your city, 12345</span>
            <span><i class="icon-phone-call"></i> 123 456 789</span>
            <span><i class="icon-mail"></i> info@gmail.com</span>
        </div>
    </nav>

    <div class="cd-overlay"></div>
    <!-- /.cd-overlay -->

    <!-- END mobile right burger menu -->

    <!-- JavaScript -->

    <!-- All used plugins -->
    <script src="{% static "js/plugins.min.js" %}"></script>

    <!-- Custom main js -->
    <script src="{% static "js/main.min.js" %}"></script>


</body>
</html>