{% load static %}
<!DOCTYPE html>
<html lang="zxx" dir="ltr">

<!-- BEGIN head -->

<head>

    <!-- Meta tags -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="Pinocchio is a clean, modern, and responsive one-page HTML template designed for restaurants, cafes, and fast-food businesses.">
    <meta name="author" content="Alissio">

    <!-- Title -->
    <title>{% block Title %}{% endblock %}</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "img/favicon/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="256x256" href="{% static "img/favicon/android-chrome-192x192.png" %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static "img/favicon/android-chrome-512x512.png" %}">
    <link rel="icon" type="image/png" href="{% static "img/favicon/favicon.ico" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "img/favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "img/favicon/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "img/favicon/site.webmanifest" %}">
    <link rel="mask-icon" href="{% static "img/favicon/safari-pinned-tab.svg" %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#0b1f3c">
    <meta name="theme-color" content="#ffffff">

    <!-- Stylesheets -->

    <!-- All used plugins -->
    <link rel="stylesheet" type="text/css" href="{% static "css/plugins.min.css" %}">

    <!-- Custom main style -->
    <link rel="stylesheet" type="text/css" href="{% static "css/main.min.css" %}">

    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" href="{% static "css/responsive.min.css" %}">

    <!-- My CSS File   -->
    <link rel="stylesheet" type="text/css" href="{% static "css/my.min.css" %}">

		
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<!-- END head -->

<!-- BEGIN body -->

<body data-spy="scroll" data-target=".navbar" data-offset="50">

    <!-- BEGIN  Loading -->
    <div class="loading-overlay">
        <div class="spinner">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- END Loading -->

    <!-- BEGIN body wrapper -->
    <div class="body-wrapper">

        <!-- Begin hero-->
        <section id="main">

            <!-- BEGIN carousel -->
            {% block Banners %}{% endblock %}
            <!-- END carousel -->

            <!-- BEGIN navigation -->
            <div class="navigation">
                <div class="navbar-container" data-spy="affix" data-offset-top="400">
                    <div class="container">
                        <div class="navbar_top">
                            <div class="top_addr">
                                <nav class="navbar">
                                    <div id="navbar_content">
                                        <!-- Brand and toggle get grouped for better mobile display -->
                                        <div class="navbar-header">
                                            <a class="navbar-brand" href="#">
                                                <img src="{% static "img/logo3.png" %}" alt="logo">
                                            </a>
                                        </div>
                                        <a href="#cd-nav" class="cd-nav-trigger right_menu_icon">
                                            <span><i class="icon-menu"></i></span>
                                        </a>

                                        <!-- Collect the nav links, forms, and other content for toggling -->
                                        {% include "main/nav/header_menu.html" %}
                                        <!-- /.navbar-collapse -->
                                    </div>
                                </nav>
                                <div class="pull-right search-block d-none d-md-none d-lg-block">
                                    <button type="button" class="btn btn-outline-warning btn-sm">
                                        <i class="fa-solid fa-cart-shopping"></i>
                                        {% comment %} <cart-text class="cart-number">1</cart-text> {% endcomment %}
                                    </button>
                                </div>
                            </div>
                            <div id="navbar_search">
                                <form method="post">
                                    <input type="text" name="q" autocomplete="off" class="form-control pull-left"
                                        value="" placeholder="Search anything">
                                    <button type="button" class="pull-right close" id="search_close">
                                        <i class="icon-close"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <!-- /.navbar_top -->

                    </div>
                </div>
                <!-- /.navbar-container -->
            </div>
            <!-- END navigation -->
        </section>
        <!-- End hero -->

        <!-- Special Menu Slider Start -->
        <section class="section" id="special">
            <div class="container">
                <div class="title-block">
                    <!-- <span class="section-subtitle" data-aos="fade-up">Fresh from Pizza Mizza</span> -->
                    <h1 class="section-title" data-aos="fade-up">Популярное блюдо</h1>
                </div>

                <!--    Special Menu items     -->
                <div id="special-menu" class="menu-slider">
                    <div class="menu-slider-item" data-aos="fade-up">
                        <a href="#" class="menu-slider-item-link"></a>
                        <div class="menu-slider-item-image">
                            <img src="src/assets/img/pizza/barbeque-chicken.png" alt="">
                        </div>
                        <div class="menu-slider-item-desc">
                            <h4 class="menu-slider-item-title">Barbeque Chicken</h4>
                            <p class="menu-slider-item-subtitle">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit, sed do</p>
                            <div class="menu-slider-item-actions">
                                <span class="menu-slider-item-price">$12.95</span>
                                <a href="#" class="menu-slider-item-btn">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="menu-slider-item" data-aos="fade-up">
                        <div class="menu-slider-item-image">
                            <img src="src/assets/img/pizza/pepperoni.png" alt="">
                        </div>
                        <div class="menu-slider-item-desc">
                            <h4 class="menu-slider-item-title">Pepperoni</h4>
                            <p class="menu-slider-item-subtitle">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit, sed do</p>
                            <div class="menu-slider-item-actions">
                                <span class="menu-slider-item-price">$12.95</span>
                                <a href="#" class="menu-slider-item-btn">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="menu-slider-item" data-aos="fade-up">
                        <div class="menu-slider-item-image">
                            <img src="src/assets/img/pizza/shirmp-pizza.png" alt="">
                        </div>
                        <div class="menu-slider-item-desc">
                            <h4 class="menu-slider-item-title">Cheese pizza</h4>
                            <p class="menu-slider-item-subtitle">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit, sed do</p>
                            <div class="menu-slider-item-actions">
                                <span class="menu-slider-item-price">$12.95</span>
                                <a href="#" class="menu-slider-item-btn">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="menu-slider-item" data-aos="fade-up">
                        <div class="menu-slider-item-image">
                            <img src="src/assets/img/pizza/vegetarian.png" alt="">
                        </div>
                        <div class="menu-slider-item-desc">
                            <h4 class="menu-slider-item-title">Vegetarian</h4>
                            <p class="menu-slider-item-subtitle">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit, sed do</p>
                            <div class="menu-slider-item-actions">
                                <span class="menu-slider-item-price">$12.95</span>
                                <a href="#" class="menu-slider-item-btn">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Special Menu Slider End -->

        <!--    About    -->
        <section class="section" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6" data-aos="fade-down">
                        <div class="border_on">
                            <img src="src/assets/img/photos/about-us.png" alt="pizza-restaurant" class="about-img">
                        </div>
                    </div>
                    <div class="col-lg-6" data-aos="fade-up">
                        <div class="content">
                            <span class="section-subtitle">О нашем заведении</span>
                            <h1 class="section-title title_sty2">Пиццерия "Пиноккио"</h1>
                            <p class="desc">Добро пожаловать в аутентичный крафтовый гастропаб.
                                Наслаждайтесь общением с друзьями, вкусными напитками и закусками из нашего меню.
                                Бар "Пиноккио" – новое атмосферное место в Ленинском районе Донецка.
                                Отлично подойдет для обедов и деловых встреч, а также просмотров прямых трансляций футбольных матчей. <br>
                                Мы любим наше дело и относимся к нему очень серьезно и при этом со 
                                всей душой. Наша цель – не просто готовить пиццу. 
                                Мы хотим познакомить наших гостей и клиентов с настоящей итальянской пиццей.
                                Наша цель – готовить действительно вкусную еду из качественных продуктов и 
                                показать людям, что качество не обязано быть дорогим и находится далеко от дома. 
                                Мы хотим донести до вас, что в пиццерии по соседству за доступную цену можно поесть 
                                ничуть не хуже, чем в самом дорогом ресторане города.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--    Menus   -->
        <section class="section" id="menus">
            <div class="container">
                <div class="title-block">
                    <span class="section-subtitle" data-aos="fade-up">Каталог наших блюд</span>
                    <h1 class="section-title" data-aos="fade-up">Наше меню</h1>
                </div>

                <!--    Menus filter    -->
                <ul class="nav nav-tabs menu_filter" id="myTab" role="tablist">
    
                    <!-- Menu Tab Nav Item -->
                    <li class="nav-item item" role="presentation" data-aos="zoom-in">
                        <a class="nav-link active" id="burger-tab" data-bs-toggle="tab" data-bs-target="#burger" role="tab"
                            aria-controls="burger" aria-selected="true">
                            <i class="icon-burger"></i>
                            <span>Бургеры</span>
                        </a>
                    </li>
    
                    <!-- Menu Tab Nav Item -->
                    <li class="nav-item item" role="presentation" data-aos="zoom-in">
                        <a class="nav-link" id="pizza-tab" data-bs-toggle="tab" data-bs-target="#pizza" role="tab"
                            aria-controls="pizza" aria-selected="false">
                            <i class="icon-pizza-slice"></i>
                            <span>Пицца</span>
                        </a>
                    </li>
    
                    <!-- Menu Tab Nav Item -->
                    <li class="nav-item item" role="presentation" data-aos="zoom-in">
                        <a class="nav-link" id="salad-tab" data-bs-toggle="tab" data-bs-target="#salad" role="tab"
                            aria-controls="salad" aria-selected="false">
                            <i class="icon-salad"></i>
                            <span>Салаты</span>
                        </a>
                    </li>
        
                    <!-- Menu Tab Nav Item -->
                    <li class="nav-item item" role="presentation" data-aos="zoom-in">
                        <a class="nav-link" id="drinks-tab" data-bs-toggle="tab" data-bs-target="#drinks" role="tab"
                            aria-controls="drinks" aria-selected="false">
                            <i class="icon-drink"></i>
                            <span>Напитки</span>
                        </a>
                    </li>
                </ul>

                <!--    Menus items     -->
                <div class="tab-content" id="menu_items"> 
                    <div class="tab-pane fade show active" id="burger" role="tabpanel" aria-labelledby="burger-tab" tabindex="0">
                        <div class="row">
                            <div class="col-md-6 col-lg-4" data-aos="fade-up">
                                <div data-src="src/assets/img/photos/bacon-burger.jpg" data-fancybox="gallery" class="block fancybox">
                                    <div class="content">
                                        <div class="filter_item_img">
                                            <i class="icon-zoom-in"></i>
                                            <img src="src/assets/img/photos/bacon-burger.jpg" alt="sample">
                                            <span class="discount">&nbsp;-10%&nbsp;</span>
                                        </div>
                                        <div class="info">
                                            <div class="name">Bacon Burger</div>
                                            <div class="short">Бургер с котлетой из мраморной говядины, двойной порцией сыра чеддер, фирменным соусом
                                            </div>
                                            <span class="filter_item_price text-decoration-line-through">$12.99</span>&nbsp;                                           
                                            <span class="text-start fw-bold">$11.99</span>                                           
                                        </div>                                        
                                    </div>                                    
                                </div>
                                <button type="button" class="btn btn-primary btn-sm button_cart_add"><i class="fa-solid fa-cart-plus"></i> В корзину</button>
                                
                            </div>
                            
                            <div class="col-md-6 col-lg-4" data-aos="fade-up">
                                <div data-src="src/assets/img/photos/black-bean-burger.jpg" data-fancybox="gallery" class="block fancybox">
                                    <div class="content">
                                        <div class="filter_item_img">
                                            <i class="icon-zoom-in"></i>
                                            <img src="src/assets/img/photos/black-bean-burger.jpg" alt="sample">
                                        </div>
                                        <div class="info">
                                            <div class="name">Black Bean Burger</div>
                                            <div class="short">American cheese, tomato relish, avocado, lettuce, red
                                                onion.
                                            </div>
                                            <span class="filter_item_price">$13.50</span>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary btn-sm button_cart_add"><i class="fa-solid fa-cart-plus"></i> В корзину</button>
                            </div>
                            <div class="col-md-6 col-lg-4" data-aos="fade-up">
                                <div data-src="src/assets/img/photos/classic-burger.jpg" data-fancybox="gallery" class="block fancybox">
                                    <div class="content">
                                        <div class="filter_item_img">
                                            <i class="icon-zoom-in"></i>
                                            <img src="src/assets/img/photos/classic-burger.jpg" alt="sample">
                                        </div>
                                        <div class="info">
                                            <div class="name">Classic Burger</div>
                                            <div class="short">Beef, cheddar cheese, ketchup, mustard, pickles, onion.
                                            </div>
                                            <span class="filter_item_price">$6.89</span>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary btn-sm button_cart_add"><i class="fa-solid fa-cart-plus"></i> В корзину</button>
                            </div>
                            <div class="col-md-6 col-lg-4" data-aos="fade-up">
                                <div data-src="src/assets/img/photos/double-burger.jpg" data-fancybox="gallery" class="block fancybox">
                                    <div class="content">
                                        <div class="filter_item_img">
                                            <i class="icon-zoom-in"></i>
                                            <img src="src/assets/img/photos/double-burger.jpg" alt="sample">
                                        </div>
                                        <div class="info">
                                            <div class="name">Double Burger</div>
                                            <div class="short">2 beef patties, cheddar cheese, mustard, pickles,
                                                tomatoes.
                                            </div>
                                            <span class="filter_item_price">$8.35</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4" data-aos="fade-up">
                                <div data-src="src/assets/img/photos/smokey-burger.jpg" data-fancybox="gallery" class="block fancybox">
                                    <div class="content">
                                        <div class="filter_item_img">
                                            <i class="icon-zoom-in"></i>
                                            <img src="src/assets/img/photos/smokey-burger.jpg" alt="sample">
                                        </div>
                                        <div class="info">
                                            <div class="name">Smokey Burger</div>
                                            <div class="short">Beef patty, cheddar cheese, onion, lettuce, tomatoes,
                                                pickles.
                                            </div>
                                            <span class="filter_item_price">$8.99</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4" data-aos="fade-up">
                                <div data-src="src/assets/img/photos/turkey-burger.jpg" data-fancybox="gallery" class="block fancybox">
                                    <div class="content">
                                        <div class="filter_item_img">
                                            <i class="icon-zoom-in"></i>
                                            <img src="src/assets/img/photos/turkey-burger.jpg" alt="sample">
                                        </div>
                                        <div class="info">
                                            <div class="name">Turkey Burger</div>
                                            <div class="short">Turkey, cheddar cheese, onion, lettuce, tomatoes,
                                                pickles.
                                            </div>
                                            <span class="filter_item_price">$8.30</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pizza" role="tabpanel" aria-labelledby="pizza-tab" tabindex="0">
                        <div class="row">
                            <div class="col-md-6 col-lg-4" data-aos="fade-up">
                                <div data-src="src/assets/img/photos/pizza-chicken-tikka-lg.jpg" data-fancybox="gallery" class="block fancybox">
                                    <div class="content">
                                        <div class="filter_item_img">
                                            <i class="icon-zoom-in"></i>
                                            <img src="src/assets/img/photos/pizza-chicken-tikka-xs.jpg" alt="sample">
                                        </div>
                                        <div class="info">
                                            <div class="name">Chicken Tikka</div>
                                            <div class="short">Boneless chicken breast, mini pizza, tomato sauce, heavy
                                                cream, garam masala</div>
                                            <span class="filter_item_price">$8.25</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4" data-aos="fade-up">
                                <div data-src="src/assets/img/photos/pizza-hawaii-lg.jpg" data-fancybox="gallery" class="block fancybox">
                                    <div class="content">
                                        <div class="filter_item_img">
                                            <i class="icon-zoom-in"></i>
                                            <img src="src/assets/img/photos/pizza-hawaii-xs.jpg" alt="sample">
                                        </div>
                                        <div class="info">
                                            <div class="name">Pizza Hawaii</div>
                                            <div class="short">Canadian bacon, homemade pizza crust, pizza sauce,
                                                mozzarella
                                                cheese, pineapple chunks</div>
                                            <span class="filter_item_price">$13.62</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4" data-aos="fade-up">
                                <div data-src="src/assets/img/photos/pizza-kebab-lg.jpg" data-fancybox="gallery" class="block fancybox">
                                    <div class="content">
                                        <div class="filter_item_img">
                                            <i class="icon-zoom-in"></i>
                                            <img src="src/assets/img/photos/pizza-kebab-xs.jpg" alt="sample">
                                        </div>
                                        <div class="info">
                                            <div class="name">Pizza Kebab</div>
                                            <div class="short">Ground lamb, red wine, pizza dough, feta cheese,
                                                mozzarella
                                                cheese</div>
                                            <span class="filter_item_price">$15.25</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4" data-aos="fade-up">
                                <div data-src="src/assets/img/photos/pizza-margherita-lg.jpg" data-fancybox="gallery" class="block fancybox">
                                    <div class="content">
                                        <div class="filter_item_img">
                                            <i class="icon-zoom-in"></i>
                                            <img src="src/assets/img/photos/pizza-margherita-xs.jpg" alt="sample">
                                        </div>
                                        <div class="info">
                                            <div class="name">Margherita</div>
                                            <div class="short">San marzano, fresh mozzarella cheese, red pepper flakes,
                                                olive oil, saf instant yeast</div>
                                            <span class="filter_item_price">$13.34</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4" data-aos="fade-up">
                                <div data-src="src/assets/img/photos/pizza-mushroom-lg.jpg" data-fancybox="gallery" class="block fancybox">
                                    <div class="content">
                                        <div class="filter_item_img">
                                            <i class="icon-zoom-in"></i>
                                            <img src="src/assets/img/photos/pizza-mushroom-xs.jpg" alt="sample">
                                        </div>
                                        <div class="info">
                                            <div class="name">Pizza Mushroom</div>
                                            <div class="short">Fresh tomatoes, fresh yeast, bread flour, black olives,
                                                mozzarella cheese</div>
                                            <span class="filter_item_price">$12.99</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4" data-aos="fade-up">
                                <div data-src="src/assets/img/photos/pizza-neapolitan-lg.jpg" data-fancybox="gallery" class="block fancybox">
                                    <div class="content">
                                        <div class="filter_item_img">
                                            <i class="icon-zoom-in"></i>
                                            <img src="src/assets/img/photos/pizza-neapolitan-xs.jpg" alt="sample">
                                        </div>
                                        <div class="info">
                                            <div class="name">Neapolitan</div>
                                            <div class="short">Homemade pizza dough, fresh mozzarella cheese, semolina
                                                flour, easy pizza sauce, basil leaves</div>
                                            <span class="filter_item_price">$11.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4" data-aos="fade-up">
                                <div data-src="src/assets/img/photos/pizza-pepperoni-lg.jpg" data-fancybox="gallery" class="block fancybox">
                                    <div class="content">
                                        <div class="filter_item_img">
                                            <i class="icon-zoom-in"></i>
                                            <img src="src/assets/img/photos/pizza-pepperoni-xs.jpg" alt="sample">
                                        </div>
                                        <div class="info">
                                            <div class="name">Pepperoni</div>
                                            <div class="short">Pizza dough, tomato sauce, pepperoni, honey, pizza sauce
                                            </div>
                                            <span class="filter_item_price">$6.99</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4" data-aos="fade-up">
                                <div data-src="src/assets/img/photos/pizza-veggie-lg.jpg" data-fancybox="gallery" class="block fancybox">
                                    <div class="content">
                                        <div class="filter_item_img">
                                            <i class="icon-zoom-in"></i>
                                            <img src="src/assets/img/photos/pizza-veggie-xs.jpg" alt="sample">
                                        </div>
                                        <div class="info">
                                            <div class="name">Pizza Veggie</div>
                                            <div class="short">Crescent rolls, cream cheese, sour cream, ranch dressing
                                                mix,
                                                dried dill weed</div>
                                            <span class="filter_item_price">$5.99</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="salad" role="tabpanel" aria-labelledby="salad-tab" tabindex="0">
                        <div class="row">
                            <div class="col-md-6 col-lg-4" data-aos="fade-up">
                                <div data-src="src/assets/img/photos/ambrosia-salad-lg.jpg" data-fancybox="gallery" class="block fancybox">
                                    <div class="content">
                                        <div class="filter_item_img">
                                            <i class="icon-zoom-in"></i>
                                            <img src="src/assets/img/photos/ambrosia-salad-xs.jpg" alt="sample">
                                        </div>
                                        <div class="info">
                                            <div class="name">Ambrosia</div>
                                            <div class="short">Mandarin oranges, vanilla greek yogurt, maraschino
                                                cherries,
                                                heavy cream, green grapes</div>
                                            <span class="filter_item_price">$18.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4" data-aos="fade-up">
                                <div data-src="src/assets/img/photos/bound-salad-lg.jpg" data-fancybox="gallery" class="block fancybox">
                                    <div class="content">
                                        <div class="filter_item_img">
                                            <i class="icon-zoom-in"></i>
                                            <img src="src/assets/img/photos/bound-salad-xs.jpg" alt="sample">
                                        </div>
                                        <div class="info">
                                            <div class="name">Bound Salad</div>
                                            <div class="short">Deep fried tofu, Fried egg, Shredded cabbage, Shredded
                                                carrot, Chopped green onion</div>
                                            <span class="filter_item_price">$12.49</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4" data-aos="fade-up">
                                <div data-src="src/assets/img/photos/fruit-salad-lg.jpg" data-fancybox="gallery" class="block fancybox">
                                    <div class="content">
                                        <div class="filter_item_img">
                                            <i class="icon-zoom-in"></i>
                                            <img src="src/assets/img/photos/fruit-salad-xs.jpg" alt="sample">
                                        </div>
                                        <div class="info">
                                            <div class="name">Fruit Salad</div>
                                            <div class="short">Pineapple, orange juice, apples, strawberries, oranges
                                                together</div>
                                            <span class="filter_item_price">$17.62</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4" data-aos="fade-up">
                                <div data-src="src/assets/img/photos/garden-salad-lg.jpg" data-fancybox="gallery" class="block fancybox">
                                    <div class="content">
                                        <div class="filter_item_img">
                                            <i class="icon-zoom-in"></i>
                                            <img src="src/assets/img/photos/garden-salad-xs.jpg" alt="sample">
                                        </div>
                                        <div class="info">
                                            <div class="name">Garden Salad</div>
                                            <div class="short">Miracle whip, white wine vinegar, black olives, parmesan
                                                cheese, red onion</div>
                                            <span class="filter_item_price">$9.99</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="soup" role="tabpanel" aria-labelledby="soup-tab" tabindex="0">
                        <div class="row">
                            <div class="col-md-6 col-lg-4" data-aos="fade-up">
                                <div data-src="src/assets/img/photos/chicken-noodle-soup-lg.jpg" data-fancybox="gallery" class="block fancybox">
                                    <div class="content">
                                        <div class="filter_item_img">
                                            <i class="icon-zoom-in"></i>
                                            <img src="src/assets/img/photos/chicken-noodle-soup-xs.jpg" alt="sample">
                                        </div>
                                        <div class="info">
                                            <div class="name">Chicken Noodle</div>
                                            <div class="short">Uncooked egg noodles, ribs, rotisserie chicken, carrots,
                                                olive oil</div>
                                            <span class="filter_item_price">$6.88</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4" data-aos="fade-up">
                                <div data-src="src/assets/img/photos/puree-of-carrot-soup-lg.jpg" data-fancybox="gallery" class="block fancybox">
                                    <div class="content">
                                        <div class="filter_item_img">
                                            <i class="icon-zoom-in"></i>
                                            <img src="src/assets/img/photos/puree-of-carrot-soup-xs.jpg" alt="sample">
                                        </div>
                                        <div class="info">
                                            <div class="name">Puree of Carrot</div>
                                            <div class="short">White wine, carrots, garlic, vegetable broth, russet
                                                potato
                                            </div>
                                            <span class="filter_item_price">$7.12</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4" data-aos="fade-up">
                                <div data-src="src/assets/img/photos/seafood-bisque-soup-lg.jpg" data-fancybox="gallery" class="block fancybox">
                                    <div class="content">
                                        <div class="filter_item_img">
                                            <i class="icon-zoom-in"></i>
                                            <img src="src/assets/img/photos/seafood-bisque-soup-xs.jpg" alt="sample">
                                        </div>
                                        <div class="info">
                                            <div class="name">Seafood Bisque</div>
                                            <div class="short">White wine, heavy cream, tomato paste, lobster stock,
                                                worcestershire sauce</div>
                                            <span class="filter_item_price">$14.95</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4" data-aos="fade-up">
                                <div data-src="src/assets/img/photos/veloute-tomate-soup-lg.jpg" data-fancybox="gallery" class="block fancybox">
                                    <div class="content">
                                        <div class="filter_item_img">
                                            <i class="icon-zoom-in"></i>
                                            <img src="src/assets/img/photos/veloute-tomate-soup-xs.jpg" alt="sample">
                                        </div>
                                        <div class="info">
                                            <div class="name">Veloute Tomato</div>
                                            <div class="short">Greek yogurt, potato, tomato paste, diced tomatoes,
                                                carrot
                                            </div>
                                            <span class="filter_item_price">$6.93</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="drinks" role="tabpanel" aria-labelledby="drinks-tab" tabindex="0">
                        <div class="row">
                            <div class="col-md-6 col-lg-4" data-aos="fade-up">
                                <div data-src="src/assets/img/photos/americano-cocktail-lg.jpg" data-fancybox="gallery" class="block fancybox">
                                    <div class="content">
                                        <div class="filter_item_img">
                                            <i class="icon-zoom-in"></i>
                                            <img src="src/assets/img/photos/americano-cocktail-xs.jpg" alt="sample">
                                        </div>
                                        <div class="info">
                                            <div class="name">Americano</div>
                                            <div class="short">Club soda, orange, sweet vermouth, campari</div>
                                            <span class="filter_item_price">$20.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4" data-aos="fade-up">
                                <div data-src="src/assets/img/photos/cosmopolitan-cocktail-lg.jpg" data-fancybox="gallery" class="block fancybox">
                                    <div class="content">
                                        <div class="filter_item_img">
                                            <i class="icon-zoom-in"></i>
                                            <img src="src/assets/img/photos/cosmopolitan-cocktail-xs.jpg"
                                                alt="sample">
                                        </div>
                                        <div class="info">
                                            <div class="name">Cosmopolitan</div>
                                            <div class="short">Cranberry juice, triple sec, lemon vodka, ice, orange
                                                zest
                                            </div>
                                            <span class="filter_item_price">$14.99</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4" data-aos="fade-up">
                                <div data-src="src/assets/img/photos/malibu-sunset-cocktail-lg.jpg" data-fancybox="gallery" class="block fancybox">
                                    <div class="content">
                                        <div class="filter_item_img">
                                            <i class="icon-zoom-in"></i>
                                            <img src="src/assets/img/photos/malibu-sunset-cocktail-xs.jpg"
                                                alt="sample">
                                        </div>
                                        <div class="info">
                                            <div class="name">Malibu Sunset</div>
                                            <div class="short">Malibu rum, pineapple juice, maraschino cherries, make
                                            </div>
                                            <span class="filter_item_price">$12.48</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4" data-aos="fade-up">
                                <div data-src="src/assets/img/photos/sweet-poison-cocktail-lg.jpg" data-fancybox="gallery" class="block fancybox">
                                    <div class="content">
                                        <div class="filter_item_img">
                                            <i class="icon-zoom-in"></i>
                                            <img src="src/assets/img/photos/sweet-poison-cocktail-xs.jpg"
                                                alt="sample">
                                        </div>
                                        <div class="info">
                                            <div class="name">Sweet Poison</div>
                                            <div class="short">Coconut rum, pineapple juice, blue curacao, luxardo
                                                cherries,
                                                gold rum</div>
                                            <span class="filter_item_price">$10.24</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4" data-aos="fade-up">
                                <div data-src="src/assets/img/photos/tropical-garden-cocktail-lg.jpg" data-fancybox="gallery" class="block fancybox">
                                    <div class="content">
                                        <div class="filter_item_img">
                                            <i class="icon-zoom-in"></i>
                                            <img src="src/assets/img/photos/tropical-garden-cocktail-xs.jpg"
                                                alt="sample">
                                        </div>
                                        <div class="info">
                                            <div class="name">Tropical Garden</div>
                                            <div class="short">Grand marnier, vodka, tropical, cane sugar syrup</div>
                                            <span class="filter_item_price">$9.89</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4" data-aos="fade-up">
                                <div data-src="src/assets/img/photos/green-tea-lg.jpg" data-fancybox="gallery" class="block fancybox">
                                    <div class="content">
                                        <div class="filter_item_img">
                                            <i class="icon-zoom-in"></i>
                                            <img src="src/assets/img/photos/green-tea-xs.jpg" alt="sample">
                                        </div>
                                        <div class="info">
                                            <div class="name">Green Tea</div>
                                            <div class="short">Green tea is a type of tea that is made from Camellia
                                                sinensis leaves</div>
                                            <span class="filter_item_price">$6.11</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4" data-aos="fade-up">
                                <div data-src="src/assets/img/photos/spicy-ginger-lemon-tea-lg.jpg" data-fancybox="gallery" class="block fancybox">
                                    <div class="content">
                                        <div class="filter_item_img">
                                            <i class="icon-zoom-in"></i>
                                            <img src="src/assets/img/photos/spicy-ginger-lemon-tea-xs.jpg"
                                                alt="sample">
                                        </div>
                                        <div class="info">
                                            <div class="name">Spicy Ginger Lemon Tea</div>
                                            <div class="short">Lemon, honey, ginger, cayenne pepper</div>
                                            <span class="filter_item_price">$9.99</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--    Chef    -->
        <section class="section chef" id="chef">
            <div class="container">
                <div class="title-block">
                    <span class="section-subtitle" data-aos="fade-up">Meet Pizza Mizza Experts</span>
                    <h1 class="section-title" data-aos="fade-up">Our Chef</h1>
                </div>
                <div id="chef-slider">


                    <div class="chef-item" data-aos="zoom-in">
                        <div class="chef-image">
                            <img src="src/assets/img/photos/chef_2.jpg" alt="">
                        </div>
                        <div class="chef-info">
                            <h3 class="chef-name">John Doe</h3>
                        </div>
                    </div>
                    <div class="chef-item" data-aos="zoom-in">
                        <div class="chef-image">
                            <img src="src/assets/img/photos/chef_3.jpg" alt="">
                        </div>
                        <div class="chef-info">
                            <h3 class="chef-name">John Doe</h3>
                        </div>
                    </div>
                    <div class="chef-item" data-aos="zoom-in">
                        <div class="chef-image">
                            <img src="src/assets/img/photos/chef_4.jpg" alt="">
                        </div>
                        <div class="chef-info">
                            <h3 class="chef-name">John Doe</h3>
                        </div>
                    </div>
                    <div class="chef-item" data-aos="zoom-in">
                        <div class="chef-image">
                            <img src="src/assets/img/photos/chef_5.jpg" alt="">
                        </div>
                        <div class="chef-info">
                            <h3 class="chef-name">John Doe</h3>
                        </div>
                    </div>
                    <div class="chef-item" data-aos="zoom-in">
                        <div class="chef-image">
                            <img src="src/assets/img/photos/chef_6.jpg" alt="">
                        </div>
                        <div class="chef-info">
                            <h3 class="chef-name">John Doe</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Start .scroll-up -->
        <div class="scroll-up">
            <div class="scroll-up__icon">
                <i class="icon-arrow-up"></i>
            </div>
        </div><!-- End /.scroll-up -->

        <!--  Begin Footer  -->
        <section class="section footer" id="contact">

            <div class="footer-details">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <img src="{% static "img/logo3.png" %}" alt="" class="footer-logo">
                            <p class="footer-info">								
                                Добро пожаловать в нашу пиццерию! 
                                Мы гордимся тем, что предлагаем нашим гостям настоящую итальянскую пиццу, 
                                приготовленную с любовью и по традиционным рецептам.
                            </p>                            
                        </div>
                        {% comment %} ==== FOOTER MENU === {% endcomment %}
                        {% include "main/nav/footer_menu.html" %}
                        {% comment %} =============================== {% endcomment %}
                        <div class="col-md-6 col-lg-4">
                            <h4 class="footer-ttl">Contacts</h4>
                            <div class="footer-contact">
                                <div class="footer-contact_item">
                                    <i class="icon-map-pin"></i>
                                    <span>Your City, Your streert, 18765, 100 Tenth Avenue, New York City, NY
                                        1001</span>
                                </div>
                                <div class="footer-contact_item">
                                    <i class="icon-phone-call"></i>
                                    <span>+91 123 456 789 0 / +91 123 456 789 0</span>
                                </div>
                                <div class="footer-contact_item">
                                    <i class="icon-mail"></i>
                                    <span>info@gmail.com</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="copyr">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="copyr-txt">
                                © 2025 Дипломный проект. ЦПОИС-23п
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Footer -->

    </div>
    <!-- END body-wrapper -->


    <!-- START mobile right burger menu -->
    <nav class="cd-nav-container right_menu" id="cd-nav">
        <div class="header__open_menu">
            <a href="index.html" class="rmenu_logo" title="logo">
                <img src="src/assets/img/logo.png" alt="logo">
            </a>
        </div>
        <div class="right_menu_search">
            <form method="post">
                <input type="text" name="q" autocomplete="off" class="form-control search_input" value=""
                    placeholder="Search anything">
                <button type="submit" class="search_icon">
                    <i class="icon-search"></i>
                </button>				
            </form>
        </div>
        {% comment %} === Mobile MENU === {% endcomment %}
        {% include "main/nav/mobile_menu.html" %}
        <div class="right_menu_addr top_addr">
            <span><i class="icon-map-pin"></i> Your country, your city, 12345</span>
            <span><i class="icon-phone-call"></i> 123 456 789</span>
            <span><i class="icon-mail"></i> info@gmail.com</span>
        </div>
    </nav>

    <div class="cd-overlay"></div>
    <!-- /.cd-overlay -->

    <!-- END mobile right burger menu -->

    <!-- JavaScript -->

    <!-- All used plugins -->
    <script src="{% static "js/plugins.min.js" %}"></script>

    <!-- Custom main js -->
    <script src="{% static "js/main.min.js" %}"></script>


</body>
</html>