{% extends "base.html" %}
{% load static %}
{# Title-Block #}
{% block Title %}{{title}}{% endblock %}

{% block main_section %}
    {% include "includes/main_section.html" %}
{% endblock %}
{# *** Banner - Block *** #}
{% block Banners %}
    <div id="carouselExample" class="carousel slide w-100" data-bs-ride="carousel"  data-bs-interval="4000">
        
        <div class="container pos_rel">

            <!-- Indicators -->
            <ol class="carousel-indicators">
                {% for banner in banners %}
                    <li type="button" data-bs-target="#carouselExample" aria-label="Slide {{ forloop.counter0 }}" data-bs-slide-to="{{ forloop.counter0  }}" {% if forloop.first %} class="active"{% endif %}>
                        <img src="{{ banner.image.url }}" alt="{{ banner.image | cut:"banner_img/" | cut:".png"  }}">
                    </li>
                {% endfor %}
            </ol>
            
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <!-- Carousel items   -->
                {% for banner in banners %} 
                <!-- ***** {{banner.title}}  ****** -->
                <div class="carousel-item {% if forloop.first %}active {% endif %}">
                    <div class="carousel-caption">
                        <div class="carousel-caption__content">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="fadeUp item_img">
                                            <img src="{{banner.image.url}}" alt="{{banner.title}}" width="{{banner.width}}" height="{{banner.height}}">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="fadeUp fade-slow item_details">
                                            <div class="item_badge">
                                                <span class="badge_btext"><sup>₽</sup> {{banner.price|floatformat:2}}</span>
                                            </div>
                                            <h4 class="item_name">{{banner.title}}</h4>
                                            <div class="item_link_box">
                                                <a href="#menus" class="item_link page-scroll">
                                                    <i class="fa-solid fa-clipboard"></i>
                                                    <span>Посмотреть меню</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}                
            </div>
        </div>    
    </div>
{% endblock Banners %}

{# *** MENUS - Выбор блюд на сайте *** #}
{% block Menus %}
    <section class="section" id="menus">
        <div class="container">
            <div class="title-block">
                <span class="section-subtitle" data-aos="fade-up">Каталог наших блюд</span>
                <h1 class="section-title" data-aos="fade-up">Наше меню</h1>
            </div>
            <!--    Menus filter    -->
            <ul class="nav nav-tabs menu_filter" id="myTab" role="tablist">
                {% for category in  categories %}
                    <!-- Menu Tab Nav Item -->
                    <li class="nav-item item" role="presentation" data-aos="zoom-in">
                        <a class="nav-link {% if forloop.first %}active{% endif %}" 
                            id="{{category.slug}}-tab" data-bs-toggle="tab" data-bs-target="#{{category.slug}}" role="tab"
                            aria-controls="{{category.slug}}" aria-selected="true">
                            <i class="{{category.icon_class}}"></i>
                            <span>{{category.title}}</span>
                        </a>
                    </li>
                {% endfor %}   
            </ul>
            <!--    Menus items     -->
            <div class="tab-content" id="menu_items">                    
                {% for category in  categories %}
                <!--    {{category.title}}     -->     
                <div class="tab-pane fade show {% if forloop.first %} active {% endif %}" 
                        id="{{category.slug}}" role="tabpanel" aria-labelledby="{{category.slug}}-tab" tabindex="0">
                    <div class="row">
                        {% for product in products  %}
                            {% if category.id == product.category_id %}
                            <div class="col-md-6 col-lg-4" data-aos="fade-up">
                                <div data-src="{{product.image.url}}" data-fancybox="gallery" class="block fancybox">
                                    <div class="content">
                                        <div class="filter_item_img">
                                            <i class="icon-zoom-in"></i>
                                            <img src="{{product.image.url}}" alt="sample">
                                            {% if product.discount %}
                                                <span class="discount">&nbsp;-{{ product.discount|floatformat:0 }}%&nbsp;</span>
                                            {% endif %}    
                                        </div>
                                        <div class="info">
                                            <div class="name">{{product.name}}</div>
                                            <div class="short">
                                                {{product.description}}
                                            </div>
                                            {% if product.discount %}
                                                <span class="filter_item_price text-decoration-line-through">  
                                                    <sup>₽</sup> {{product.price|floatformat:2}}    
                                                </span>
                                                <span class="text-start fw-bold">&nbsp;&nbsp;<sup>₽</sup>{{product.sell_price|floatformat:2}}</span>
                                            {% else %}
                                                <span class="text-start fw-bold"><sup>₽</sup>{{product.sell_price|floatformat:2}}</span>
                                            {% endif %}                                                                                     
                                        </div>                                        
                                    </div>                                    
                                </div>
                                <a type="button"
                                   href="{% url "cart:cart_add" product.pk %}" 
                                   class="btn btn-primary btn-sm button_cart_add">
                                   <i class="fa-solid fa-cart-plus"></i> 
                                   В корзину
                                </a>
                            </div>
                            {% endif %}
                        {% endfor %}                         
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock Menus %}

{# *** Chef - Отображение наших шеф-поваров *** #}
{% block Chefs %}
    <!--    Chef    -->
    <section class="section chef" id="chef">
        <div class="container">
            <div class="title-block">
                <span class="section-subtitle" data-aos="fade-up">Профессионалы своего дела</span>
                <h1 class="section-title" data-aos="fade-up">Наши Шеф-повора</h1>
            </div>
            <div id="chef-slider">
                {% for chef in chefs %}
                    <div class="chef-item" data-aos="zoom-in">
                        <div class="chef-image">
                            <span class="text-chefs-item">
                                {{chef.info}}
                            </span>
                            <img src="{{chef.image.url}}" alt="">                            
                        </div>
                        <div class="chef-info">
                            <h3 class="chef-name">{{chef.name}} {{chef.lastName}}</h3>
                        </div>
                    </div>
                {% endfor %}                
            </div>
        </div>
    </section>
{% endblock Chefs %}

{# *** Special - Выбор наших пицц *** #}
{% block  Special %}
    <section class="section" id="special">
        <div class="container">
            <div class="title-block">
                <span class="section-subtitle" data-aos="fade-up">Пицца на любой вкус</span>
                <h1 class="section-title" data-aos="fade-up">Наши пиццы</h1>
            </div>

            <!--    Special Menu items     -->
            <div id="special-menu" class="menu-slider">
                {% for product in products  %}
                    {% if product.category.slug == "pizza" %}                        
                        <div class="menu-slider-item" data-aos="fade-up">
                            <a href="#" class="menu-slider-item-link"></a>
                            <div class="menu-slider-item-image">
                                <img src="{{product.image.url}}" alt="">
                                {% if product.discount %}
                                    <span class="discount_special">&nbsp;- {{ product.discount|floatformat:0 }}%&nbsp;</span>
                                {% endif %}
                            </div>
                            <div class="menu-slider-item-desc">
                                <h4 class="menu-slider-item-title">{{product.name}}</h4>
                                <p class="menu-slider-item-subtitle">
                                   {{product.description}}
                                </p>
                                <div class="menu-slider-item-actions">
                                    {% if product.discount %}
                                        <sup>₽</sup>
                                        <span class="menu-slider-item-price text-decoration-line-through">
                                            {{product.price}}
                                        </span>
                                        <span class="menu-slider-item-price-discount">
                                            <sup>₽</sup>{{product.sell_price|floatformat:2}}
                                        </span>
                                    {% else %}
                                        <span class="menu-slider-item-price-discount">
                                            <sup>₽</sup>{{product.sell_price|floatformat:2}}
                                        </span>
                                    {% endif %}                                    
                                    <a href="{% url "cart:cart_add" product.pk %}" class="menu-slider-item-btn">В корзину</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}               
            </div>
        </div>
    </section>  
{% endblock %}

    


    




